@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}

.caixa-depoimentos {
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.depoimento {
    line-height: 28px;
    text-align: justify;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-usuario {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.detalhes-usuario {
    margin-left: 10px;
}

.nome-usuario {
    margin: 0;
}

.cargo {
    font-weight: normal;
    margin: 10px 0;
}

.barra-progresso {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: crescer 10s linear infinite;
    transform-origin: left;
}

@keyframes crescer {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .caixa-depoimentos {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}
